<span class="sns-icon">
	<script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
	<a class="icomoon-icon-hatebu hatena-bookmark-button" href="http://b.hatena.ne.jp/entry/{{url absolute="true"}}" data-hatena-bookmark-layout="simple" title="このエントリーをはてなブックマークに追加">
		<span class="hidden">はてな</span>
	</a>
	<a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
		onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
		<span class="hidden">Facebook</span>
	</a>
	<a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
		onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
		<span class="hidden">Twitter</span>
	</a>
	<a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
		onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
		<span class="hidden">Google+</span>
	</a>
</span>
